					<div id="component-collections">
                        <div class="row">
                            <div class="col s12 m12 l6">
                                <ul id="projects-collection" class="collection">
                                    <li class="collection-item avatar">
                                    	<a class="btn-floating waves-effect btn modal-trigger light-blue right" href="#modal_ethereum"><i class="mdi-content-add left"></i></a>
                                        <i class="mdi-file-folder circle light-blue darken-2"></i>
                                        <span class="collection-header strong">Blockchain Network</span>
                                        <p>Compose your Ethereum / Hyperledger Network Nodes</p>

                                    </li>
                                    <li class="collection-item">
                                        <div class="row">
                                            <div class="col s10">
                                                <div class="col s7">
                                                    <p class="collections-title strong"><%= workspace.name %></p>
                                                    <p class="collections-content">Default Network for this Workspace</p>
                                                </div>
                                                <div class="col s2">
                                                    <br><span class="task-cat cyan">Healthy</span>
                                                </div>
                                                <div class="col s3">
                                                    <div id="project-line-1"><canvas width="135" height="30" style="display: inline-block; width: 135px; height: 30px; vertical-align: top;"></canvas></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>

                    			<% include forms/ethereum_form %>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l6">
                                <ul id="issues-collection" class="collection">
                                    <li class="collection-item avatar">
                                    	<a class="btn-floating waves-effect btn modal-trigger red right" href="#modal_jupyter"><i class="mdi-content-add left"></i></a>
                                        <i class="mdi-file-folder circle red darken-2"></i>
                                        <span class="collection-header strong">dApp Service</span>
                                        <p>Struct your Application View and Transactions</p>
                                    </li>
                                    <li class="collection-item">
                                        <div class="row">
                                            <div class="col s7">
                                                <p class="collections-title"><strong>#102</strong> Home Page</p>
                                                <p class="collections-content">Web Project</p>
                                            </div>
                                            <div class="col s2">
                                                <br>
                                                <span class="task-cat pink accent-2">Deploying</span>
                                            </div>
                                            <div class="col s3">
                                                <br>
                                                <div class="progress">
                                                     <div class="determinate" style="width: 70%"></div>   
                                                </div>                                                
                                            </div>
                                        </div>
                                    </li>
                                    <li class="collection-item">
                                        <div class="row">
                                            <div class="col s7">
                                                <p class="collections-title"><strong>#108</strong> API Fix</p>
                                                <p class="collections-content">API Project </p>
                                            </div>
                                            <div class="col s2">
                                                <span class="task-cat orange darken-4">Deploying</span>
                                            </div>
                                            <div class="col s3">
                                                <div class="progress">
                                                    <div class="determinate" style="width: 40%"></div>   
                                                </div>                                                
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                    			<% include forms/jupyter_form %>

                            </div>
                        </div>
                        <div class="row">
                        	<div class="col s12 m12 l6">
                                <ul id="issues-collection" class="collection">
                                    <li class="collection-item avatar">
                                    	<a class="btn-floating waves-effect btn modal-trigger yellow right" href="#modal_remix"><i class="mdi-content-add left"></i></a>
                                        <i class="mdi-file-folder circle yellow darken-2"></i>
                                        <span class="collection-header strong">Smart Contract</span>
                                        <p>Define your Service Logic</p>
                                    </li>
                                    <li class="collection-item">
                                        <div class="row">
                                            <div class="col s7">
                                                <p class="collections-title"><strong>#102</strong> Home Page</p>
                                                <p class="collections-content">Web Project</p>
                                            </div>
                                            <div class="col s2">
                                                <span class="task-cat pink accent-2">Deploying</span>
                                            </div>
                                            <div class="col s3">
                                                <div class="progress">
                                                     <div class="determinate" style="width: 70%"></div>   
                                                </div>                                                
                                            </div>
                                        </div>
                                    </li>
                                    <li class="collection-item">
                                        <div class="row">
                                            <div class="col s7">
                                                <p class="collections-title"><strong>#108</strong> API Fix</p>
                                                <p class="collections-content">API Project </p>
                                            </div>
                                            <div class="col s2">
                                                <span class="task-cat yellow darken-4">Deploying</span>
                                            </div>
                                            <div class="col s3">
                                                <div class="progress">
                                                    <div class="determinate" style="width: 40%"></div>   
                                                </div>                                                
                                            </div>
                                        </div>
                                    </li>
                                    <li class="collection-item">
                                        <div class="row">
                                            <div class="col s7">
                                                <a class="collections-title href="#" target="_blank"><strong>#205</strong> Profile page css</a>

                                                <p class="collections-content">New Project </p>
                                            </div>
                                            <div class="col s2">                                                
                                                <span class="task-cat red darken-3">Error</span>
                                            </div>
                                            <div class="col s3">
                                                <div id="project-line-1"><canvas width="135" height="30" style="display: inline-block; width: 135px; height: 30px; vertical-align: top;"></canvas></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                    			<% include forms/remix_form %>

                            </div>
                        </div>


                    </div>





