<% layout('../layout') -%>



<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <h4 class="header2">Create a new workspace</h4>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input id="workspace_name" type="text">
                <label for="workspace_name">Workspace Name</label>
              </div>
              <div class="input-field col s6">
                <input id="description" type="text">
                <label for="description">Description</label>
              </div>
            </div>

            <div class="divider"></div>

            <div  class="section">
              <div class="col s12 m12 l12">
                <h4 class="header2">Hosted Workspace</h4>  
              </div>
              <div class="row">
                  <form action="#">
                    <div class="col s12 m6 l6">
                      <p>
                        <input name="group1" type="radio" id="test1">
                        <label for="test1">Public</label><br>
                        <label>This is a workspace for your eyes only</label>
                      </p>
                    </div>
                    <div class="col s12 m6 l6">
                      <p>
                        <input name="group1" type="radio" id="test2">
                        <label for="test2">Private</label><br>
                        <label>This will create a workspace for everybody to see</label>
                      </p>
                    </div>
                  </form>
              </div>
            </div>

            <div class="divider"></div>
              <div class="section">
                <div class="col s12 m12 l12">
                    <h4 class="header2">Choose a Template</h4>  
                </div>
                <div class="row">
                  <form action="#">
                    <div class="radio-img-selector">
                      <div class="col s12 m2 l2">
                        <input id="ethereum-logo" type="radio" name="template-lang" value="ethereum-logo" />
                        <label class="radio-img-btn ethereum-logo" for="ethereum-logo"></label>
                      </div>
                      <div class="col s12 m2 l2">
                        <input id="hyperledger-logo" type="radio" name="template-lang" value="hyperledger-logo" />
                        <label class="radio-img-btn hyperledger-logo" for="hyperledger-logo"></label>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                    <i class="mdi-content-send right"></i>
                  </button>
                </div>
              </div>
            </form>
         </div>
      </div>
   </div>
</div>