<div id="modal_jupyter" class="modal modal-fixed-footer">
              <div class="modal-content">
          <div class="card-panel">
            <h4 class="header2">Create a new Jupyter</h4>
              <div class="row">
                <form class="col s12" action="/workspaces/jupyter" method="post">
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="workspace_name" type="text" name="workspace_name">
                      <label for="workspace_name">Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="workspace_name" type="text" name="workspace_description">
                      <label for="workspace_name">Description</label>
                    </div>
                  </div>

                  <div class="divider"></div>
                  
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="workspace_name" type="text" name="workspace_endpoint">
                      <label for="workspace_name">Endpoint</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="description" type="text" name="workspace_port">
                      <label for="description">Port</label>
                    </div>
                  </div>

                </form>
               </div>
            </div>
          </div>


              <div class="modal-footer">
                <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Submit</a>
                <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Cancel</a>
              </div>
</div>