  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
  <title>Dashboard | Chaining - Blockchain All-in-one IDE Solution</title>

  <!-- Favicons-->
  <link rel="icon" href="/images/favicon/favicon_chaining-32x32.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="/images/favicon/icon_chaining-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="/images/favicon/favicon_chaining-144x144.png">
  <!-- For Windows Phone -->


  <!-- CORE CSS-->
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">

  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="/js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">

  <!--animate css-->
  <link href="/js/plugins/animate-css/animate.css" type="text/css" rel="stylesheet" media="screen,projection">



<!--start====================================================================topology-graph.ejs-->


    <style>
    @font-face {
      font-family: 'FontAwesome';
      src: url('/bower_components/font-awesome/fonts/fontawesome-webfont.woff') format('woff');
    }
    @font-face {
      font-family: 'PatternFlyIcons-webfont';
      src: url('/bower_components/patternfly/dist/fonts/PatternFlyIcons-webfont.woff') format('woff');
    }
/*    * {
      box-sizing: border-box;
    }
    body {
      margin: 0px;
      font-family: sans-serif;
    }*/
    kubernetes-topology-graph {
      border: 40px solid lightgray;
      position: fixed;
      height: 100%;
      width: 100%;
    }
    .controls {
      position: absolute;
      bottom: 60px;
      left: 60px;
      right: 60px;
      background-color: lightgray;
      padding: 0 10px;
    }
    #selected_vertex {
      float: right;
      display: block;
      margin-top: 15px;
    }
  </style>
  <link rel="stylesheet" href="/stylesheets/topology-graph.css">
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/d3/d3.js"></script>
  <script src="/javascripts/context-d3-menu.js"></script> 
  <script src="/javascripts/topology-graph.js"></script>

<!--end====================================================================topology-graph.ejs-->


  <!-- Custome CSS-->    
  <link href="/css/custom/custom.css" type="text/css" rel="stylesheet" media="screen,projection">
