/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 3.1
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/*start=========================================================================layout.ejs*/

#content {
  min-height: 85vh;
}

/*end===========================================================================layout.ejs*/


/*start=========================================================================workspaces/topology-graph.ejs*/
.btn-classic {
    background: white;
    border-radius: 5px;
    border: 1px solid lightgray;
  }

.kube-topology {
  /*background-color: white;*/
  /*width: 100px;*/
}

@media all and (max-width: 320px) {
  kubernetes-topology-graph {

    height: 200px;
    border: 10px solid lightgray;
    border-radius: 10px;
    bottom: 40px;
    right: 0;
    z-index: 100;
  }

  .controls {
    position: fixed;
    right: 0;
    bottom: 0px;
    left: auto;
    z-index: 100;
    width: 100%
    height: 50%;
  }

  #topology-toggle-btn {
    position: fixed;
    bottom: 2px;
    right: 2px;
    z-index: 100;
  }
}

@media all and (min-width: 321px) and (max-width: 768px) {
  kubernetes-topology-graph {
    height: 300px;
    border: 20px solid lightgray;
    border-radius: 15px;
    bottom: 120px;
    right: 0;
    z-index: 100;
  }
  .controls {
    position: fixed;
    right: 0;
    bottom: 0px;
    left: auto;
    z-index: 100;
    width: 100%;
  }

  #topology-toggle-btn {
    position: fixed;
    bottom: 2px;
    right: 2px;
    z-index: 100;
  }
}

@media all and (min-width: 769px) {
  kubernetes-topology-graph {
    width: 600px;
    height: 400px;
    border: 30px solid lightgray;
    border-radius: 15px;
    bottom: 130px;
    right: 0;
    z-index: 100;
  }
  .controls {
    position: fixed;
    width: 600px;
    right: 0;
    bottom: 0px;
    left: auto;
    z-index: 100;
  }

  #topology-toggle-btn {
    position: fixed;
    bottom: 2px;
    right: 2px;
    z-index: 100;

  }
}

kubernetes-topology-graph > svg {
  background-color: rgba(1, 1, 1, 0.1);
}



.controls > label {
  color: dimgray;
}

#selected_vertex {
  width: 100%;
}

#topology-toggle-btn {
  position: fixed;
  bottom: 2px;
  right: 2px;
  z-index: 100;
  background: white;
  /*width: 15%;*/
  border-radius: 5px
}
/*end===========================================================================workspaces/topology-graph.ejs*/

/*start=========================================================================workspaces/show.ejs*/
.collection .collection-item.avatar {
  min-height: unset !important;
}
/*end===========================================================================workspaces/show.ejs*/

/*start=========================================================================workspaces/new.ejs*/
.radio-img-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    display: none;


}
.ethereum-logo{background-image: url("/images/ethereum-logo.png");}
.hyperledger-logo{background-image: url("/images/hyperledger-logo.png");}

.radio-img-selector input:active +.radio-img-btn{opacity: .9;}
.radio-img-selector input:checked +.radio-img-btn{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.radio-img-btn{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;
    height:100px !important;

    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.radio-img-btn:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

/*end=========================================================================workspaces/new.ejs*/
